%h1
  ASUSGATE
  .small A story about thousands of crimeless victims
%p
  ASUSTeK Computer Inc (ASUS) have spent the better part of a year ignoring the fact that their RT-series routers suffer from two CRITICAL security vulnerabilities.
  %ol
    %li
      Default setting for the ftp-server was to allow anonymous login. ASUS calls this feature-"limitless access rights". We call this madness.
    %li
      AiCloud usernames and passwords were stored in plaintext in a file available for download without logging in. We call this insanity.
%p
  = link_to '[...]', 'http://nullfluid.com/asusgate.txt'
