%h1
  ASUSGATE
  .small A story about thousands of crimeless victims
%p
  ASUSTeK Computer Inc (ASUS) have spent the better part of a year ignoring the fact that their RT-series routers suffer from two CRITICAL security vulnerabilities.
  %ol
    %li
      Default setting for the ftp-server was to allow anonymous login. ASUS calls this feature-limitless access rights. We call this madness.
    %li
      AiCloud usernames and passwords were stored in plaintext in a file available for download without logging in. We call this insanity.
%p
  Not only did they ship RT-routers with these vulnerabilities and ignore Kyle Lovetts emails and phonecalls informing them about them. They also failed to provide firmware upgrades where these vulnerabilities were removed for another SIX months. Did they even perform security audits on their products before releasing them? Considering the use of plain-text storage of login credentials we have a really hard time believing they did.
%p
  This is not rocket surgery. Anyone with the slightest knowledge or interest in security would know this is unforgivable.
%p
  Vulnerability #1 (FTP) gives EVERYONE on the internet access to attached USB storage making it possible to download and upload files. You do not need an untamed imagination to realize the implications this has.
%p 
  This madness must end and it must end now. ASUS have failed their customers. The internet service providers should all have scanned their networks and warned affected users about this. Did they?
  = link_to '[...]', 'http://nullfluid.com/asusgate.txt'